*{
    margin: 0;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn-option{
    /* width: auto; */
    width: 10rem;
    height: 50px;
    border-radius: 2rem;
    border: solid black 2px;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}

.dropdown{
    background-color: black;
    color: white;
    border: solid black 2px;
    border-radius: 1rem;
    align-self: center;
    margin-top: 1rem;
    padding: 0.4rem;
}

body{
    background-image: radial-gradient(rgb(255, 247, 0), rgb(76, 0, 255));
    text-align: center
}

.nav{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    /* background-color: blue; */
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: solid black 3px;
    background-image: linear-gradient(rgb(255, 247, 0), rgb(76, 0, 255));
}

.grid{
    justify-items: center;
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
}

.cell{
    margin: 1rem;
    height: 10rem;
    width: 10rem;
    border: solid;
}


